h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Antic Slab", serif;
}

.superParent {
  background-color: #dcc48e;
}

.App {
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 1% 0;
  background-color: #eaefd3;
}

.mainHeader {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 2%;
}

.mainHeader h1 {
  font-weight: 550;
}

/* --- solo section --- */

.soloQ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 3%;
  padding-bottom: 5%;
}

.soloImg img {
  max-height: 500px;
  height: auto;
  width: 70%;
  border-radius: 10px;
}

.soloButtons {
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 450px;
  padding: 0 5%;
}

.soloButtons button {
  padding: 10px 25px;
}

/* --- team section --- */

.teamMain {
  margin-top: 3%;
}

.teamMain button {
  padding: 10px 45px;
  cursor: pointer;
}

.teamChamps {
  display: flex;
  justify-content: space-evenly;
  padding: 2% 0 2% 0;
}

.lane img {
  height: auto;
  width: 200px;
}

.lane h5 {
  margin-top: 5%;
}
